@model EmailViewModel
@inject UserManager<User> userManager



@if (Model.EmailStatusName == "Not Reviewed")
{
    <a class="btn btn-outline-success" asp-controller="Email" asp-action="ChangeStatus" asp-route-emailId="@Model.Id" asp-route-newStatusName="New Application">New Application</a>
    <a class="btn btn-outline-danger" asp-controller="Email" asp-action="ChangeStatus" asp-route-emailId="@Model.Id" asp-route-newStatusName="Invalid Application">Invalid Email</a>
}
@if (Model.ModifiedByUserId == userManager.GetUserId(User))
{
    if (Model.EmailStatusName == "New Application")
    {
        <a class="btn btn-outline-success" asp-controller="Email" asp-action="ChangeStatus" asp-route-emailId="@Model.Id" asp-route-newStatusName="Open Application">Open Application</a>
    }
    if (Model.EmailStatusName == "Open Application")
    {
        <input type="button" class="btn btn-outline-warning" id="show-or-hide-button-form" value="Show Form">
    }
}