

<link rel="stylesheet" href="~/css/cardPhoto.css" />
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1" style="color: #e66b00">Team VLP</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-sm-10 col-sm-5 col-md-5" style="margin-left:8%">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside" style="height:410px">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/image/photo.jpg" alt="card image"></p>
                                    <h3 class="card-title">Kristina Asenova</h3>
                                    <p class="card-text">"Hakuna Matata."</p>
                                    <h5>Contacts: krisstina.asenova@gmail.com</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside" style="height:410px">
                            <div class="card text-color">
                                <div class="card-body text-center mt-4">
                                    <h3 class="card-title" >Summary</h3>
                                    <p class="card-text">Studying Software Engineering at Sofia University. Highly motivated, communicative and giving mood and smiles all the time.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" style="color:black" target="_blank" href="https://github.com/KrisstinaAsenova">
                                                <i class="fas fa-link"> https://github.com/KrisstinaAsenova</i>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-sm-10 col-sm-5 col-md-5">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside" style="height:410px">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class=" img-fluid" src="~/image/photoIvan.jpg" alt="card image">
                                    </p>
                                    <h3 class="card-title">Ivan Madin</h3>
                                    <p class="card-text text-color"><i>"Struggle, pain and failures are good, if you take them as an opportunity to become better."</i></p>
                                    <h5>Contacts: Ivan.Madin93@gmail.com</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside" style="height:410px">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h3 class="card-title">Summary</h3>
                                    <p class="card-text" >I started working since my younth, that made me a good teamwork player. The working places in the different years helped me to improve my character in different aspects.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" style="color:black" target="_blank" href="https://github.com/IvanMadin">
                                                <i class="fas fa-link"> https://github.com/IvanMadin </i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>