@model IEnumerable<EmailViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-md-6">
        @foreach (var item in Model)
        {
                <div class="text-center">
                    <div>
                        <label>Sender: @item.Sender</label> <label>From Date: @item.DateReceived</label>
                    </div>
                    <label>Body: </label>
                    @Html.Raw(item.Body)

                </div>
            <hr />
        }
    </div>
    <div class="col-md-6">
        The form will go here.
    </div>
</div>
