body {
}

.button-color {
    background-color: orange;
    color: black;
}

.rigth-button {
    text-align: center;
    width: 120px !important;
}

.table > thead:first-of-type > tr,
.table > tbody:first-of-type > tr {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

    .table > thead:first-of-type > tr > th:first-of-type,
    .table > thead:first-of-type > tr > th:nth-of-type(2),
    .table > tbody:first-of-type > tr > td:first-of-type,
    .table > tbody:first-of-type > tr > td:nth-of-type(2) {
        grid-column: span 3;
    }

.email-container {
    display: none;
    grid-column: 1 / -1;
}

button .close-email {
    display: none;
}

#application-form-div {
    visibility: hidden;
    position: fixed;
    top: 5%;
    right: -3%;
}
