

body {
    background-image: url('../image/kiki.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

.centerheader {
    margin-left:14% !important;
    margin-top:5%;
}

.centerform {
    margin-left: 5% !important;
}

.rigth-button {
    text-align: center;
    width: 500px !important;
}

.button-color {
    background-color: #e66b00;
    color: black;
}
.orange-color {
    color: #e66b00;
}

.content {
     /*max-width: 500px;*/ 
    margin: auto;
    margin-top: 8%;
    padding: 20px;
    overflow: hidden;
}

.scroll-hide
{
    overflow:hidden;
}
