html, body {
    height: 100%;
    width: 100%
}

body {
    background-image: url('../image/simple.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    margin:0% auto;
}

.centerheader {
    margin-left:14% !important;
    margin-top:3%;
    margin-bottom:0%;
}

.centerform {
    margin-left: 5% !important;
}

.form {
    -webkit-box-shadow: 15px 20px 15px 11px rgba(0,0,0,0.49);
    box-shadow: 15px 20px 15px 11px rgba(0,0,0,0.49);
}

.rigth-button {
    text-align: center;
    width: 500px !important;
}

.button-color {
    background-color: #e66b00;
    color: black;
}
.orange-color {
    color: #e66b00;
}

.content {
     /*max-width: 500px;*/ 
    margin: auto;
    margin-top: 11%;
    padding: 15px;
    overflow: hidden;
   
}

.scroll-hide
{
    overflow:hidden;
}
