body {
}

.table-striped tbody tr:nth-of-type(odd) {
    background: rgba(230, 107, 0, 0.1) !important;
}

.page-item.active .page-link {
    background: #e66b00;
    border-color: #e66b00;
}

.page-link {
    color: #e66b00;
}

.tbi-color {
    color: #e66b00;
}

.options {
     margin:6%;
     color:black;
}