@page
@model LoginModel

@{
    ViewData["Title"] = "Email Manager TBIBank";
}


<head>
    <link rel="stylesheet" type="text/css" href="~/css/login.css" />
</head>


<link href="~/image/kiki.jpg" rel='stylesheet' type='text/css' style="width:1500px; height:300px">


<div class="content scroll-hide card col-sm-6" style="margin-left:-7%; opacity:0.8">
    <div class="centerheader"><h2>E-mail Manager <span style="color:#e66b00">TBI</span>Bank</h2></div>
    <div class="row col-md-4 centerform">
        <section>
            <form id="account" method="post">
                <div style="margin-left:22%"><h4>Use your account to log in!</h4></div>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn rigth-button button-color">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
