@page
@model LoginModel

@{
    ViewData["Title"] = "Email Manager TBIBank";
}

<link rel="stylesheet" href="~/css/login.css">

<div class="content scroll-hide">
    <div class="mg centerheader"><h1>E-mail Manager <span style="color:#e66b00">TBI</span>Bank</h1></div>
    <div class="row ">
        <div class="col-md-12">
            <section>
                <form id="account" method="post">
                    <div class="mg centerheader"><h4>Use a local account to log in.</h4></div>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.UserName"></label>
                        <input asp-for="Input.UserName" class="form-control" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                        <div class="form-group">
                            <button type="submit" class="btn rigth-button button-color">Log in</button>
                        </div>
                    

                    <div class="form-group">
                        <p>
                            <a class="orange-color" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
