@page
@model RegisterModel
@inject IRolesService rolesService
@{
    ViewData["Title"] = "Register operator";
    var rolesVM = (await this.rolesService.GetRolesAsync());
    SelectList selectList = new SelectList(rolesVM, "Name", "Name");
}

<div class="container" style="margin-left:7%">
    <div class="row">
        <div class="col-md-6">
            <h1>@ViewData["Title"]</h1>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new: <select asp-for="Input.RoleName" asp-items="@selectList"></select></h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn" style="background-color: #e66b00; color:black; text-align:right !important; margin-top:3%">Register</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
