<li class="nav-item">
    <a class="nav-link" asp-area="Operator" asp-controller="Email" asp-action="ShowEmailsByStatus"
       asp-route-statusName="New Application">
        <i class="fas fa-envelope"></i>New Applications
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="Operator" asp-controller="Email" asp-action="ShowEmailsByStatus"
       asp-route-statusName="Open Application">
        <i class="fas fa-envelope-open-text"></i>Open Applications
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="Operator" asp-controller="Email" asp-action="ShowEmailsByStatus"
       asp-route-statusName="Closed Application">
        <i class="far fa-envelope"></i>Closed Applications
    </a>
</li>